%h1.signup-title Signup!
= form_for :user, url: '/users' do |f|
  Username: #{f.text_field :username}
  %br
  %br
  Password: #{f.password_field :password}
  %br
  %br
  Password Confirmation: #{f.password_field :password_confirmation}
  %br
  \#{f.submit "Submit"}
  %br
  %br
  = link_to 'Back', quests_path, :class => "backbutton btn btn-primary"
