%h1.ans_title Answering
= form_for @answer, url: quest_answers_path(params[:quest_id]) do |f|
  - if @answer.errors.any?
    #error_explanation
      %h2
        = pluralize(@answer.errors.count, "error")
        prohibited
        this answer from being saved:
      %ul
        - @answer.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :Body
    %br/
    = f.text_area :body
  %p
    = f.submit :class => "btn btn-primary"
